<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="container" style="padding-top: 3vh; ">
		<form action="{% url 'notes_app:loginUsers' %}" method="post">
			{%csrf_token%}
			{{form.as_p}}
			<input type="submit" name="submit" value="Login" style="margin-left: 7vh">
			<button class="btn btn-default" ><a href="{% url 'notes_app:registerUsers' %}">Sign up</a></button>
		</form>
		
	</div>
	</body>
</html>